<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="rtt.annotation.editor.ui.AnnotationEditor"
            default="false"
            id="rtt.annotation.editor"
            name="RTT Annotation Editor">
         <contentTypeBinding
               contentTypeId="rtt.annotation.content.jar">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="jar"
            id="rtt.annotation.content.jar"
            name="RTT JAR Content Type"
            priority="normal">
      </content-type>
   </extension>

</plugin>
