<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="rtt.ui.views.category.standard"
            name="RTT">
      </category>
      <category
            id="rtt.ui.views.category.experimental"
            name="RTT (experimental)">
      </category>
      <view
            category="rtt.ui.views.category.standard"
            class="rtt.ui.views.ProjectView"
            icon="icons/sample.gif"
            id="rtt.ui.views.ProjectView"
            name="Testprojects"
            restorable="true">
      </view>
      <view
            category="rtt.ui.views.category.standard"
            class="rtt.ui.views.LogView"
            icon="icons/sample.gif"
            id="rtt.ui.views.LogView"
            name="Log"
            restorable="true">
      </view>
      <view
            category="rtt.ui.views.category.standard"
            class="rtt.ui.views.VersionView"
            icon="icons/sample.gif"
            id="rtt.ui.views.VersionView"
            name="Versions"
            restorable="true">
      </view>
      <view
            category="rtt.ui.views.category.standard"
            class="rtt.ui.views.TestView"
            icon="icons/sample.gif"
            id="rtt.ui.views.TestView"
            name="Testing"
            restorable="true">
      </view>
      <view
            class="rtt.ui.view.ResultView"
            id="rtt.ui.views.ResultView"
            name="Results"
            restorable="true">
      </view>
      <category
            id="rtt.ui"
            name="Sample Category">
      </category>ew>
     
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="rtt.ui.commands.initArchive"
            name="Initialize Archive">
      </command>
      <command
            id="rtt.ui.commands.config.add"
            name="Add Configuration">
      </command>
      <command
            id="rtt.ui.commands.config.edit"
            name="Edit Config">
      </command>
      <command
            id="rtt.ui.commands.config.setActive"
            name="Set Active">
      </command>
      <command
            id="rtt.ui.commands.tests.generate"
            name="Generate Tests">
      </command>
      <command
            id="rtt.ui.commands.tests.run"
            name="Run Tests">
      </command>
      <command
            id="rtt.ui.commands.testsuite.add"
            name="Add Test Suite">
      </command>
      <command
            id="rtt.ui.commands.testsuite.remove"
            name="Remove Test Suite">
      </command>
      <command
            id="rtt.ui.commands.testcase.add"
            name="Add Test Cases">
      </command>
      <command
            id="rtt.ui.commands.testcase.remove"
            name="Remove Test Case">
      </command>
      <command
            id="rtt.ui.commands.classpath.add"
            name="Add Classpath Entry">
      </command>
      <command
            id="rtt.ui.commands.classpath.remove"
            name="Remove Classpath Entry">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               label="RTT">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
            <command
                  commandId="rtt.ui.commands.initArchive"
                  id="rtt.init"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:rtt.ui.views.TestsuiteView">
         <command
               commandId="rtt.ui.commands.testsuite.add"
               id="testsuite.add"
               style="push">
         </command>
         <command
               commandId="rtt.ui.commands.testsuite.remove"
               id="testsuite.remove"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="rtt.ui.definitions.selection.testsuite">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="rtt.ui.testsuiteview.seperator1"
               visible="true">
         </separator>
         <command
               commandId="rtt.ui.commands.testcase.add"
               id="testcase.add"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="rtt.ui.definitions.selection.testsuite">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="rtt.ui.commands.testcase.remove"
               id="testcase.remove"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="rtt.ui.definitions.selection.testcase">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="rtt.ui.testsuiteview.seperator2"
               visible="true">
         </separator>
         <command
               commandId="rtt.ui.commands.tests.generate"
               id="tests.generate"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="rtt.ui.definitions.selection.testsuite">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="rtt.ui.commands.tests.run"
               id="tests.run"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="rtt.ui.definitions.selection.testsuite">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:rtt.ui.views.LogView">
      </menuContribution>
      <menuContribution
            locationURI="popup:rtt.ui.views.ProjectView">
         <command
               commandId="rtt.ui.commands.config.add"
               id="config.add"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="rtt.ui.definitions.type.configDir">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="rtt.ui.commands.config.edit"
               id="config.edit"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="rtt.ui.definitions.selection.config">
                  </reference>
                  <and>
                     <reference
                           definitionId="rtt.ui.definitions.configParent">
                     </reference>
                     <not>
                        <reference
                              definitionId="rtt.ui.definitions.selection.classpath">
                        </reference>
                     </not>
                  </and>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="rtt.ui.commands.config.setActive"
               id="config.setActive"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="rtt.ui.definitions.selection.config">
                  </reference>
                  <and>
                     <reference
                           definitionId="rtt.ui.definitions.configParent">
                     </reference>
                     <not>
                        <reference
                              definitionId="rtt.ui.definitions.selection.classpath">
                        </reference>
                     </not>
                  </and>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="rtt.ui.commands.classpath.add"
               id="classpath.add"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="rtt.ui.definitions.selection.classpath">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="rtt.ui.commands.classpath.remove"
               id="classpath.remove"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <test
                           args="classpathentry"
                           forcePluginActivation="true"
                           property="rtt.ui.content.hasType"
                           value="classpathentry">
                     </test></iterate>
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="rtt.ui.testsuiteview.seperator1"
               visible="true">
         </separator>
         <command
               commandId="rtt.ui.commands.testsuite.add"
               id="testsuite.add"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="rtt.ui.definitions.selection.testsuite_directory">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="rtt.ui.commands.testsuite.remove"
               id="testsuite.remove"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="rtt.ui.definitions.selection.testsuite">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="rtt.ui.testsuiteview.seperator2"
               visible="true">
         </separator>
         <command
               commandId="rtt.ui.commands.testcase.add"
               id="testcase.add"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="rtt.ui.definitions.selection.testsuite">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="rtt.ui.commands.testcase.remove"
               id="testcase.remove"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="rtt.ui.definitions.selection.testcase">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="rtt.ui.testsuiteview.seperator3"
               visible="true">
         </separator>
         <command
               commandId="rtt.ui.commands.tests.generate"
               id="tests.generate"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="rtt.ui.definitions.selection.testsuite">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="rtt.ui.commands.tests.run"
               id="tests.run"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="rtt.ui.definitions.selection.testsuite">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="rtt.ui.commands.initArchive">
         <class
               class="rtt.ui.handlers.InitArchiveHandler">
         </class>
      </handler>
      <handler
            commandId="rtt.ui.commands.config.add">
         <class
               class="rtt.ui.handlers.config.ConfigAddHandler"></class>
      </handler>
      <handler
            commandId="rtt.ui.commands.config.edit">
         <class
               class="rtt.ui.handlers.config.ConfigEditHandler">
         </class>
      </handler>
      <handler
            commandId="rtt.ui.commands.config.setActive">
         <class
               class="rtt.ui.handlers.config.ConfigSetActiveHandler">
         </class>
      </handler>
      <handler
            commandId="rtt.ui.commands.tests.generate">
         <class
               class="rtt.ui.handlers.tests.GenerateTestsHandler">
         </class>
      </handler>
      <handler
            commandId="rtt.ui.commands.tests.run">
         <class
               class="rtt.ui.handlers.tests.RunTestsHandler">
         </class>
      </handler>
      <handler
            commandId="rtt.ui.commands.testsuite.add">
         <class
               class="rtt.ui.handlers.testsuite.TSuiteAddHandler"></class>
      </handler>
      <handler
            commandId="rtt.ui.commands.testsuite.remove">
         <class
               class="rtt.ui.handlers.testsuite.TSuiteRemoveHandler">
         </class>
      </handler>
      <handler
            commandId="rtt.ui.commands.testcase.add">
         <class
               class="rtt.ui.handlers.testcase.TCaseAddHandler">
         </class>
      </handler>
      <handler
            commandId="rtt.ui.commands.testcase.remove">
         <class
               class="rtt.ui.handlers.testcase.TCaseRemoveHandler">
         </class>
      </handler>
      <handler
            commandId="rtt.ui.commands.classpath.add">
         <class
               class="rtt.ui.handlers.classpath.ClasspathEntryAddHandler"></class>
      </handler>
      <handler
            commandId="rtt.ui.commands.classpath.remove">
         <class
               class="rtt.ui.handlers.classpath.ClasspathEntryRemoveHandler">
         </class>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="rtt.ui.perspectives.ProjectPerspectiveFactory"
            icon="icons/sample.gif"
            id="rtt.ui.perspective.projectPerspective"
            name="RTT">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="rtt.ui.definitions.selection.testsuite_directory">
         <with
               variable="activeMenuSelection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="rtt.ui.content.main.TestsuiteDirectory">
               </instanceof>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="rtt.ui.definitions.selection.testsuite">
         <with
               variable="activeMenuSelection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="rtt.ui.content.testsuite.TestsuiteContent">
               </instanceof>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="rtt.ui.definitions.selection.testcase">
         <with
               variable="activeMenuSelection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="rtt.ui.content.testsuite.TestcaseContent">
               </instanceof>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="rtt.ui.definitions.selection.project">
         <with
               variable="activeMenuSelection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="rtt.ui.core.internal.treeItem.ProjectTreeItem">
               </instanceof>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="rtt.ui.definitions.selection.config">
         <with
               variable="activeMenuSelection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="rtt.ui.content.configuration.ConfigurationContent">
               </instanceof>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="rtt.ui.definitions.selection.classpath">
         <with
               variable="activeMenuSelection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="rtt.ui.content.configuration.ClasspathContent">
               </instanceof>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="rtt.ui.definitions.classpathParent">
         <with
               variable="activeMenuSelection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <test
                     args="classpath"
                     property="rtt.ui.content.hasParent"
                     value="classpath">
               </test></iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="rtt.ui.definitions.configParent">
         <with
               variable="activeMenuSelection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <test
                     args="configuration"
                     property="rtt.ui.content.hasParent"
                     value="configuration">
               </test>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="rtt.ui.definitions.type.configDir">
         <with
               variable="activeMenuSelection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <test
                     args="configuration_directory"
                     property="rtt.ui.content.hasType"
                     value="configuration_directoryctory">
               </test>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="rtt.ui.definitions.type.testsuiteDir">
         <with
               variable="activeMenuSelection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <test
                     args="testsuite_directory"
                     property="rtt.ui.content.hasType"
                     value="testsuite_directory">
               </test>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="rtt.ui.editors.ReferenceEditor"
            default="false"
            icon="icons/sample.gif"
            id="rtt.ui.editors.formeditor"
            name="RTT Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="rtt.ui.propertyTester.ContentTypePropertyTester"
            id="rtt.ui.ContentPropertyTester"
            namespace="rtt.ui.content"
            properties="hasType,hasParent"
            type="rtt.ui.content.IContent">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="regression.test.util.TestResourceFactoryImpl"
            type="test">
      </parser>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="regression.test.TestPackage"
            uri="regression.test.tool">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            class="regression.test.provider.TestItemProviderAdapterFactory"
            uri="regression.test.tool"
             
             supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource">
      </factory>
   </extension>
   <extension
         id="projectnature"
         name="RTT Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="rtt.ui.core.RttNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
