<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="rtt.ui.views.category.standard"
            name="%category.normal.name">
      </category>
      <category
            id="rtt.ui.views.category.experimental"
            name="%category.experimental.name">
      </category>
      <view
            category="rtt.ui.views.category.standard"
            class="rtt.ui.views.ProjectView"
            icon="icons/projectView.png"
            id="rtt.ui.views.ProjectView"
            name="%view.projects.name"
            restorable="true">
      </view>
      <view
            category="rtt.ui.views.category.standard"
            class="rtt.ui.views.LogView"
            icon="icons/logView.png"
            id="rtt.ui.views.LogView"
            name="%view.logs.name"
            restorable="true">
      </view>
      <view
            category="rtt.ui.views.category.standard"
            class="rtt.ui.views.VersionView"
            icon="icons/versionView.png"
            id="rtt.ui.views.VersionView"
            name="%view.versions.name"
            restorable="true">
      </view>
      <view
            category="rtt.ui.views.category.standard"
            class="rtt.ui.views.TestView"
            icon="icons/testView.gif"
            id="rtt.ui.views.TestView"
            name="%view.testing.name"
            restorable="true">
      </view>
     
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="rtt.ui.commands.archive.check"
            name="%rtt.ui.commands.archive.check.name">
      </command>
      <command
            id="rtt.ui.commands.project.convert"
            name="%commands.project.convert.name">
      </command>
      <command
            id="rtt.ui.commands.config.add"
            name="%commands.config.add.name">
      </command>
      <command
            id="rtt.ui.commands.config.edit"
            name="%commands.config.edit.name">
      </command>
      <command
            id="rtt.ui.commands.config.setActive"
            name="%commands.config.setActive.name">
      </command>
      <command
            id="rtt.ui.commands.tests.generate"
            name="%commands.tests.generate.name">
      </command>
      <command
            id="rtt.ui.commands.tests.run"
            name="%commands.tests.run.name">
      </command>
      <command
            id="rtt.ui.commands.testsuite.add"
            name="%commands.testsuite.add.name">
      </command>
      <command
            id="rtt.ui.commands.testsuite.remove"
            name="%commands.testsuite.remove.name">
      </command>
      <command
            id="rtt.ui.commands.tests.junitexport"
            name="%commands.tests.junitexport.name">
      </command>
      <command
            id="rtt.ui.commands.testcase.add"
            name="%commands.testcase.add.name">
      </command>
      <command
            id="rtt.ui.commands.testcase.remove"
            name="%commands.testcase.remove.name">
      </command>
      <command
            id="rtt.ui.commands.testcase.parameters"
            name="%commands.testcase.parameters.name">
      </command>
      <command
            id="rtt.ui.commands.comment.add"
            name="%commands.comment.add.name">
      </command>
      <command
            id="rtt.ui.commands.comment.edit"
            name="%commands.comment.edit.name">
      </command>
      <command
            id="rtt.ui.commands.comment.remove"
            name="%commands.comment.remove.name">
      </command>
      <command
            id="rtt.ui.commands.refresh"
            name="%rtt.ui.commands.refresh.name">
      </command>
      <command
            id="rtt.ui.commands.ecore.generateAnnotations"
            name="%rtt.ui.ecore.command.generate">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               label="%menu.label">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
            <command
                  commandId="rtt.ui.commands.project.convert"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <not>
                              <test
                                    property="org.eclipse.core.resources.projectNature"
                                    value="rtt.ui.projectnature">
                              </test>
                           </not>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <menu
               label="%menu.label">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
            <command
                  commandId="rtt.ui.commands.project.convert"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <not>
                              <test
                                    property="org.eclipse.core.resources.projectNature"
                                    value="rtt.ui.projectnature">
                              </test>
                           </not>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <menu
               label="%menu.label">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                     </adapt>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="genmodel">
                     </test>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </with>
            </visibleWhen>
            <command
                  commandId="rtt.ui.commands.ecore.generateAnnotations"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:rtt.ui.views.LogView">
         <command
               commandId="rtt.ui.commands.comment.add"
               id="comment.add"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="rtt.ui.definitions.selection.testresult">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="rtt.ui.commands.comment.edit"
               id="comment.edit"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="rtt.ui.definitions.selection.comment">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="rtt.ui.commands.comment.remove"
               id="comment.remove"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="rtt.ui.definitions.selection.comment">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:rtt.ui.views.ProjectView">
         <command
               commandId="rtt.ui.commands.archive.check"
               icon="icons/eclipse/search.gif"
               id="archive.check"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="rtt.ui.definitions.selection.archive">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="rtt.ui.testsuiteview.seperator0"
               visible="true">
         </separator>
         <command
               commandId="rtt.ui.commands.config.add"
               icon="icons/eclipse/add.gif"
               id="config.add"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="rtt.ui.definitions.selection.directory.config">
                  </reference>
                  <reference
                        definitionId="rtt.ui.definitions.selection.config">
                  </reference>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="rtt.ui.commands.config.edit"
               icon="icons/eclipse/properties.gif"
               id="config.edit"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="rtt.ui.definitions.selection.config">
                  </reference>
                  <reference
                        definitionId="rtt.ui.definitions.configParent">
                  </reference>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="rtt.ui.commands.config.setActive"
               icon="icons/eclipse/synced.gif"
               id="config.setActive"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="rtt.ui.definitions.selection.config">
                  </reference>
                  <reference
                        definitionId="rtt.ui.definitions.configParent">
                  </reference>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="rtt.ui.commands.testsuite.add"
               icon="icons/eclipse/add.gif"
               id="testsuite.add"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="rtt.ui.definitions.selection.directory.testsuite">
                  </reference>
                  <reference
                        definitionId="rtt.ui.definitions.selection.testsuite">
                  </reference>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="rtt.ui.commands.testsuite.remove"
               icon="icons/eclipse/trash.gif"
               id="testsuite.remove"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="rtt.ui.definitions.selection.testsuite">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="rtt.ui.testsuiteview.seperator2"
               visible="true">
         </separator>
         <command
               commandId="rtt.ui.commands.testcase.add"
               icon="icons/eclipse/add.gif"
               id="testcase.add"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="rtt.ui.definitions.selection.testsuite">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="rtt.ui.commands.testcase.remove"
               icon="icons/eclipse/trash.gif"
               id="testcase.remove"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="rtt.ui.definitions.selection.testcase">
                  </reference>
                  <reference
                        definitionId="rtt.ui.definitions.caseParent">
                  </reference>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="rtt.ui.commands.testcase.parameters"
               icon="icons/eclipse/settings.gif"
               id="testcase.parameters"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="rtt.ui.definitions.selection.testcase">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="rtt.ui.testsuiteview.seperator3"
               visible="true">
         </separator>
         <command
               commandId="rtt.ui.commands.tests.generate"
               icon="icons/eclipse/update.gif"
               id="tests.generate"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="rtt.ui.definitions.selection.testsuite">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="rtt.ui.commands.tests.run"
               icon="icons/eclipse/run.gif"
               id="tests.run"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="rtt.ui.definitions.selection.testsuite">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:rtt.ui.views.ProjectView">
         <command
               commandId="rtt.ui.commands.refresh"
               icon="icons/eclipse/refresh.gif"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="rtt.ui.commands.archive.check">
         <class
               class="rtt.ui.handlers.archive.CheckArchiveHandler">
         </class>
      </handler>
      <handler
            commandId="rtt.ui.commands.config.add">
         <class
               class="rtt.ui.handlers.config.ConfigAddHandler"></class>
      </handler>
      <handler
            commandId="rtt.ui.commands.config.edit">
         <class
               class="rtt.ui.handlers.config.ConfigEditHandler">
         </class>
      </handler>
      <handler
            commandId="rtt.ui.commands.config.setActive">
         <class
               class="rtt.ui.handlers.config.ConfigSetActiveHandler">
         </class>
      </handler>
      <handler
            commandId="rtt.ui.commands.tests.generate">
         <class
               class="rtt.ui.handlers.tests.GenerateTestsHandler">
         </class>
      </handler>
      <handler
            commandId="rtt.ui.commands.tests.run">
         <class
               class="rtt.ui.handlers.tests.RunTestsHandler">
         </class>
      </handler>
      <handler
            commandId="rtt.ui.commands.tests.junitexport">
         <class
               class="rtt.ui.handlers.tests.JUnitExportHandler">
         </class>
      </handler>
      <handler
            commandId="rtt.ui.commands.testsuite.add">
         <class
               class="rtt.ui.handlers.testsuite.TSuiteAddHandler">
         </class>
      </handler>
      <handler
            commandId="rtt.ui.commands.testsuite.remove">
         <class
               class="rtt.ui.handlers.testsuite.TSuiteRemoveHandler">
         </class>
      </handler>
      <handler
            commandId="rtt.ui.commands.testcase.add">
         <class
               class="rtt.ui.handlers.testcase.TCaseAddHandler">
         </class>
      </handler>
      <handler
            commandId="rtt.ui.commands.testcase.remove">
         <class
               class="rtt.ui.handlers.testcase.TCaseRemoveHandler">
         </class>
      </handler>
      <handler
            commandId="rtt.ui.commands.testcase.parameters">
         <class
               class="rtt.ui.handlers.testcase.ParametersHandler">
         </class>
      </handler>
      <handler
            commandId="rtt.ui.commands.comment.add">
         <class
               class="rtt.ui.handlers.comment.CommentAddHandler">
         </class>
      </handler>
      <handler
            commandId="rtt.ui.commands.comment.edit">
         <class
               class="rtt.ui.handlers.comment.CommentEditHandler">
         </class>
      </handler>
      <handler
            commandId="rtt.ui.commands.comment.remove">
         <class
               class="rtt.ui.handlers.comment.CommentRemoveHandler">
         </class>
      </handler>
      <handler
            commandId="rtt.ui.commands.ecore.generateAnnotations">
         <class
               class="rtt.ui.ecore.handler.GenerateAnnotationsHandler">
         </class>
      </handler>
      <handler
            commandId="rtt.ui.commands.project.convert">
         <class
               class="rtt.ui.handlers.archive.ConvertProjectHandler"></class>
      </handler>
      <handler
            commandId="rtt.ui.commands.refresh">
         <class
               class="rtt.ui.handlers.archive.RefreshHandler">
         </class>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="rtt.ui.perspectives.ProjectPerspectiveFactory"
            icon="icons/RTT-Logo.png"
            id="rtt.ui.perspective.projectPerspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="rtt.ui.perspective.projectPerspective">
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="rtt.ui.definitions.selection.archive">
         <with
               variable="activeMenuSelection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="rtt.ui.content.main.ArchiveContent">
               </instanceof>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="rtt.ui.definitions.selection.project">
         <with
               variable="activeMenuSelection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="rtt.ui.content.main.ProjectContent">
               </instanceof>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="rtt.ui.definitions.selection.directory.testsuite">
         <with
               variable="activeMenuSelection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="rtt.ui.content.main.TestsuiteDirectory">
               </instanceof>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="rtt.ui.definitions.selection.directory.config">
         <with
               variable="activeMenuSelection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="rtt.ui.content.configuration.ConfigurationDirectory">
               </instanceof>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="rtt.ui.definitions.selection.testsuite">
         <with
               variable="activeMenuSelection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="rtt.ui.content.testsuite.TestsuiteContent">
               </instanceof>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="rtt.ui.definitions.selection.testcase">
         <with
               variable="activeMenuSelection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="rtt.ui.content.testsuite.TestcaseContent">
               </instanceof>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="rtt.ui.definitions.selection.config">
         <with
               variable="activeMenuSelection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="rtt.ui.content.configuration.ConfigurationContent">
               </instanceof>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="rtt.ui.definitions.selection.testresult">
         <with
               variable="activeMenuSelection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="rtt.ui.content.logging.TestResultContent">
               </instanceof>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="rtt.ui.definitions.selection.comment">
         <with
               variable="activeMenuSelection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="rtt.ui.content.logging.CommentContent">
               </instanceof>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="rtt.ui.definitions.configParent">
         <with
               variable="activeMenuSelection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <test
                     args="configuration"
                     property="rtt.ui.content.hasParent"
                     value="configuration">
               </test>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="rtt.ui.definitions.caseParent">
         <with
               variable="activeMenuSelection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <test
                     args="testcase"
                     property="rtt.ui.content.hasParent"
                     value="testcase">
               </test>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="rtt.ui.editors.ReferenceEditor"
            default="false"
            icon="icons/RTT-Logo.png"
            id="rtt.ui.editors.reference"
            name="%rtt.ui.editor.name">
      </editor>
      <editor
            class="rtt.ui.ecore.editor.EcoreEditor"
            contributorClass="org.eclipse.emf.edit.ui.action.EditingDomainActionBarContributor"
            default="false"
            extensions="ecore"
            icon="icons/sample.gif"
            id="rtt.ui.editors.annotation.ecore"
            name="%rtt.ecore.editor.name">
         <contentTypeBinding
               contentTypeId="org.eclipse.emf.ecore">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="rtt.ui.propertyTester.ContentTypePropertyTester"
            id="rtt.ui.ContentPropertyTester"
            namespace="rtt.ui.content"
            properties="hasParent"
            type="rtt.ui.content.IContent">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="regression.test.util.TestResourceFactoryImpl"
            type="test">
      </parser>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="regression.test.TestPackage"
            uri="regression.test.tool">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            class="regression.test.provider.TestItemProviderAdapterFactory"
            uri="regression.test.tool"
             
             supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource">
      </factory>
   </extension>
   <extension
         id="projectnature"
         name="%extension.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="rtt.ui.core.RttNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="rtt.ui.launching.RTTLaunchConfiguration"
            delegateName="RTT Launcher"
            id="rtt.ui.launchConfigurationType"
            modes="run"
            name="RTT"
            sourceLocatorId="org.eclipse.pde.ui.launcher.PDESourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="rtt.ui.launchConfigurationType"
            icon="icons/generation.gif"
            id="rtt.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="rtt.ui.launching.RTTTabGroup"
            id="rtt.ui.launchConfigurationTabGroup"
            type="rtt.ui.launchConfigurationType">
         <launchMode
               description="Run RTT"
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="rtt.ui.preferences.RttPreferencePage"
            id="rtt.ui.preferences.RttPreferencePage"
            name="RTT">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="rtt.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="rtt.ui.ecore.wizard.category"
            class="rtt.ui.ecore.wizard.ExportAnnotationsWizard"
            icon="icons/RTT-Logo.png"
            id="rtt.ui.ecore.wizard.exportAnnotations"
            name="Ecore annotations">
      </wizard>
      <category
            id="rtt.ui.ecore.wizard.category"
            name="RTT">
      </category>
   </extension>

</plugin>
