<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="rtt.ant.CreateArchive"
            library="ant-tasks/ant-tasks.jar"
            name="Rtt.CreateArchive">
      </antTask>
      
      <antTask
            class="rtt.ant.UpdateArchive"
            library="ant-tasks/ant-tasks.jar"
            name="Rtt.UpdateArchive">
      </antTask>
      
      <antTask
            class="rtt.ant.UpdateConfiguration"
            library="ant-tasks/ant-tasks.jar"
            name="Rtt.UpdateConfigurations">
      </antTask>
      
      <antTask
            class="rtt.ant.UpdateTests"
            library="ant-tasks/ant-tasks.jar"
            name="Rtt.UpdateTests">
      </antTask>
      
      <antTask
            class="rtt.ant.RunTest"
            library="ant-tasks/ant-tasks.jar"
            name="Rtt.Test">
      </antTask>
      
      <antTask
            class="rtt.ant.RunTests"
            library="ant-tasks/ant-tasks.jar"
            name="Rtt.RunTests">
      </antTask>
      
      <antTask
            class="rtt.ant.ExportLog"
            library="ant-tasks/ant-tasks.jar"
            name="Rtt.ExportLog">
      </antTask>
   
   </extension>
</plugin>
